<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Tracker</title>
</head>
<body>
    <h1>Ab yaha tumko subject names lena hai database me store karne hai aur saare subject ke counters banane hai aur thodi calculations hai to find the attendence percentage </h1>

    <h1>aur ek logout button bhi banana hai which takes you to the home page.</h1>
</body>
</html>