*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(93,168,216);
    background: linear-gradient(112deg, rgba(93,168,216,1) 0%, rgba(255,255,255,1) 100%, rgba(245,245,245,1) 100%);
}
.home-icon{
    color: #fff;
    margin: 0 10px;
}
.home-link{
    font-size: 1rem ;
}
.navbar{
    overflow: hidden;
    height: 10vh;
}
.heading{
    margin-left: 30px;
}
.act{
margin-right: 30px;
font-size: 1rem;
}
.para{
    font-size: 1rem;
    margin-top: 10px;
    margin-right: 50px;
}
#sec{
   height: 60vh;
    margin: 10% 0;  
    margin-left: 20%; 
}
.sec-box{
    margin-top: 40px ;
   
background: linear-gradient( rgb(119, 52, 179,0.2) , rgba(245,245,245,1) ,  rgb(119, 52, 179,0.2 ));
 height: 30vh;
 font-size: 3rem;
 border-radius: 5%;
}
icon{
    display: block;
    margin: 0 20px;
}
.add{
    text-decoration: none;
    margin-bottom: 20px;
    color: #000;
    
}

footer{
    margin-top: 5%;
}


@media (max-width:1000px) {
    .navbar{
        height: 20vh;
    }
    
}